@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-color: #f4f4f5;
  background-image: radial-gradient(
    #e4e4e7 1.4000000000000001px,
    #f4f4f5 1.4000000000000001px
  );
  background-size: 28px 28px;
}